<div class="movie-listings">
  <div class="search">
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="&#61442;  Search Movie">
  </div>
  <div class="movies-list">
    <div class="heading">
      <h3>Popular Movies this month</h3>
    </div>
    <div class="movie-list">
      <div class="row">
        <div
          class="col-sm-6 col-md-4 col-lg-3"
          *ngFor="let movie of moviesData | filter:searchText; let i = index">
          <a [routerLink]="['/movie-list/'+movie.id]"   class="movie">
            <div class="img-block">
              <img [src]="movie.imgPath" alt="movie-img">
            </div>
            <div class="text-block">
              <div class="name">{{ movie.name }}</div>
              <div class="duration"><label>Duration:</label> {{ movie.duration }} min</div>
              <div class="rating"><label>User Rating:</label> {{ movie.userRating }}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
